
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Administration Login</title>
        <meta name="description" content="Admininistration Login" />
        <meta name="author" content="HumbleProgramming.com" />

        <meta property="og:description" content="Administration Login" />
        <!--meta property="og:image" content="image.png"-->

        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <!--link rel="apple-touch-icon" href="/apple-touch-icon.png"-->

        <link rel="stylesheet" type="text/css" href="/css/bootstrap" />
        <link rel="stylesheet" type="text/css" href="/css/common" />
        <style type="text/css">

            body {
                overflow: hidden;
                background-image: url("/images/paradigm/bg_graph.png")
            }
            #outside {
                background-color: white;
                width: 100%;
                height: 100%;
            }
            #side-banner-1 {
                background-color: ghostwhite;
                position: absolute;
                left: 10px; top: 100px;
                border-top-left-radius: 50px;
                width: 100%;
                height: 100%;
            }
            #side-banner-2 {
                background-color: #d9d9d9;
                position: absolute;
                left: 16px; top: 16px;
                border-top-left-radius: 50px;
                width: 100%;
                height: 100%;
            }
            #container {
                position: absolute;
                background-color: rgba(130,130,255,1.0);
                position: absolute;
                left: 20px; top: 20px;
                border-top-left-radius: 50px;
                width: 100%;
                height: 100%;
                background-image: url(/images/dashboard/backgrounds/blue_background.jpg);
            }
            #card {
                padding: 40px;
                width: 274px;
            }
            .login-container {
                display: inline-block;
                position: absolute;
                right: 75px; bottom: 90px;
                white-space: nowrap;
                background-color: #F7F7F7;  
                border-radius: 2px 0px 2px 2px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                overflow: hidden;        
            }
            .lightbox {
                background-color: rgba(77,77,77,.5);
                width: 100%;
                height: 100%;
                position: absolute; top: 0px; left: 0px; overflow: hidden;
                z-index: 999
            }
            .login-card {
                display: inline-block;
                overflow: hidden;
            }
            .login-card h1 {
              font-weight: 100;
              text-align: center;
              font-size: 2.3em;
            }
            .login-card input[type=submit] {
              width: 100%;
              display: block;
              margin-bottom: 10px;
              position: relative;
            }
            .login-card input[type=text], input[type=password] {
              height: 44px;
              font-size: 16px;
              width: 100%;
              margin-bottom: 10px;
              background: #fff;
              border: 1px solid #d9d9d9;
              border-top: 1px solid #c0c0c0;
              padding: 0 8px;
              box-sizing: border-box;
            }
            .login-card input[type=text]:hover, input[type=password]:hover {
              border: 1px solid #b9b9b9;
              border-top: 1px solid #a0a0a0;
              box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }
            .login {
              text-align: center;
              font-size: 14px;
              font-family: 'Arial', sans-serif;
              font-weight: 700;
              height: 36px;
              padding: 0 8px;
            }
            .login-submit {
              border: 0px;
              color: #fff;
              text-shadow: 0 1px rgba(0,0,0,0.1);
              background-color: #4d90fe;
            }
            .login-submit:hover {
              border: 0px;
              text-shadow: 0 1px rgba(0,0,0,0.3);
              background-color: #357ae8;
            }
            .login-card a {
              text-decoration: none;
              color: #666;
              font-weight: 400;
              text-align: center;
              display: inline-block;
              opacity: 0.6;
              transition: opacity ease 0.5s;
            }

            .login-card a:hover {
              opacity: 1;
            }

            .login-help {
              width: 100%;
              font-family: sans-serif;
              text-align: center;
              font-size: 12px;
            }
            .field-desc {
                margin-bottom: 20px; font-family: monospace; letter-spacing: 1px; text-align: left
            }
                    
        </style>
        <script src="/js/jquery"></script>
        <script src="/js/common"></script>
        <script type="text/javascript">
            $(window).ready(function() {
                new EasyEdits('/edits/admin/login','admin_login');
                var loginMessage = window.location.href.split('?message=');
                if (loginMessage[1]) {
                    $E('login-error').innerHTML = unescape(loginMessage[1]);
                }
                
            });
        </script>
    </head>

    <body>
        <table style='width: 100%; height: 100%'>
            <tr>
                <td style='text-align: center'>
                    <div style="color: #F33; width: 470px; text-align: center; font-size: 1.3em; margin-left: auto; margin-right: auto; " id="login-error">&nbsp;</div>
                    <div style='margin-left: auto;  display: inline-block; margin-right: auto; border: 1px solid #333; padding: 10px; background-color: ghostwhite'>
                        
                        <form name='admin_login_form' id='admin_login_form' method='POST' action='/admin/user/login' onsubmit='return false'>
                            
                            <div style='font-size: .9em; width: 470px; text-align: justify; margin-bottom: 10px'>
                            The administration section is restricted to users who possess administrator credentials.
                            If you possess these credentials, please enter them below to gain access<br/><br/>
                            </div>
                            <fieldset style='width: 100%'><legend>Administration Login</legend>
                                <div style='display: inline-block'>
                                    <div>
                                        <input class='field' type='text' name='user_name' id='user_name' />
                                    </div>
                                    <div class='field-desc'>
                                        User Name
                                    </div>
                                    <div>
                                        <input class='field' type='password' name='user_password' id='user_password' />
                                    </div>
                                    <div class='field-desc'>
                                        Password
                                    </div>
                                    <div>
                                        <input class='login login-submit' type="button" name="admin_login_submit" id="admin_login_submit" value=" login " />
                                    </div>
                                </div>
                                <div style='padding: 5px 30px 5px 30px; display: inline-block; margin-right: 5px; vertical-align: top'>
                                    <img src='/web/images/djikstra.png' style='height: 150px'/>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>

