body {
   background: url("/web/images/metal_background.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 1); position: relative;  margin: 0px; padding: 0px; font-family: sans-serif; font-size: 10pt
}
