<h3>Generating Documentation, this could take a while...</h3>
<pre style="color: #333; margin-top: 20px; background-color: lightcyan; width: 100%; border: 1px solid #333; padding: 10px">
{% set results = documentor.generate() %}
{{ results }}
</pre>