<?xml version="1.0"?>
<config>
    <humble>
        <version>0.0.1</version>
        <title>Framework</title>
        <description>This is the module that contains the base framework classes and components</description>
        <author>
            <name>Rick Myers</name>
            <email>rick@humbleprogramming.com</email>
        </author>
        <module>
            <name>Humble</name>
            <weight>10</weight>
            <required>Y</required>
            <workflow>Y</workflow>
            <package>Framework</package>
            <use>Smarty</use>  
        </module> 
        <structure>     
            <models>
                <source>Humble/Models</source>
            </models>
            <config>
                <source>Humble/etc</source>
            </config>
            <helpers>
                <source>Humble/Helpers</source>
            </helpers>
            <controllers>
                <source>Humble/Controllers</source>
                <cache>Humble/Controllers/Cache</cache>
            </controllers>
            <schema>
                <install>Humble/Schema/Install</install>
                <update>Humble/Schema/Update</update>
                <layout>Humble/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Humble/etc</source>
            </configuration>
            <views>
                <source>Humble/Views</source>
                <cache>Humble/Views/Cache</cache>
            </views>
            <images>
                <source>Humble/Images</source>
                <cache>Humble/Images/Cache</cache>
            </images>
            <entities>
                <source>Humble/Entities</source>
            </entities>
            <resources>
                <sql>Humble/Resources/sql</sql>
                <js>Humble/Resources/js</js>
                <templates>Humble/Resources/templates</templates>
            </resources>
            <RPC>
                <source>Humble/RPC</source>
            </RPC>
        </structure>
        <orm>
            <prefix>humble_</prefix>
            <mongodb>humble</mongodb>
            <entities>
                <audit_log polyglot="Y"/>
                <categories/>
                <controllers/>
                <css/>
                <edits/>
                <entities/>
                <entity_columns/>
                <js/>
                <modules/>
                <packages/>
                <secrets_manager/>
                <services/>
                <service_directory polyglot="Y"/>
                <system_variables/>
                <templaters/>
                <users alias="usr"/>
                <user_identification polyglot="Y" alias="usrinfo"/>
                <entity_keys/>
                <roles/>
                <user_roles/>
            </entities>
        </orm>
        <events>

        </events>
        <webhooks>
            <github format="json" active="Y"/>
        </webhooks>        
        <web>
            <edits>

            </edits>
            <common>
                <js>
                    <source weight="10">Humble/web/js/Humble.js</source>
                    <source weight="11">Humble/web/js/EasyAjax.js</source>
                    <source weight="12">Humble/web/js/EasyEdit.js</source>
                    <source weight="13">Humble/web/js/EasyForm.js</source>
                    <source weight="14">Humble/web/js/EasyTabs.js</source>
                    <source weight="15">Humble/web/js/moment.js</source>
                    <source weight="16">Humble/web/js/socket.io.2.0.4.js</source><comment>Socket connectivity requires installing the Node.js message router</comment>
                    <source weight="17">Humble/web/js/Vue3.js</source>
                    <source weight="18">Humble/web/js/htmx.2.0.1.js</source>
                    <source weight="18">Humble/web/js/EasyRTE.js</source>
                    <source weight="18">Humble/web/js/Carousel.js</source>
                    <!--source weight="18">Humble/web/js/vuerouter.js</source-->
                </js>
                <css>
                    <source>Humble/web/css/Normalize.css</source>
                </css>
            </common>
            <widgets>
                <js>
                    <source weight="28">Humble/web/js/jquery-ui.1.12.min.js</source>
                    <source weight="29">Humble/web/js/jquery.filthypillow.min.js</source>
                    <source weight="29">Humble/web/js/Sliders.js</source>
                </js>
                <css>
                    <source weight="28">Humble/web/css/jquery-ui.1.12.min.css</source>
                    <source weight="29">Humble/web/css/jquery.filthypillow.css</source>
                </css>
            </widgets>
            <humble-bootstrap>
                <js>
                    <source>Humble/web/bootstrap-4.3.0/js/bootstrap.min.js</source>
                </js>
                <css>
                    <source>Humble/web/bootstrap-4.3.0/css/bootstrap.min.css</source>
                    <source>Humble/web/htmlcss/css/glyphicons.css</source>
                </css>
            </humble-bootstrap>
            <humble-bootstrap-theme>
                <css>
                    <source>Humble/web/bootstrap-3.3.7/css/bootstrap-theme.css</source>
                </css>
            </humble-bootstrap-theme>
            <humble-jquery>
                <js>
                    <source weight="5">Humble/web/js/jquery.3.6.0.min.js</source>
                </js>
            </humble-jquery>
        </web>
    </humble>
</config>
