<table style="width: 100%; height: 100%"><tr><td align="center">Event Listener Saved</td></tr></table>    
<script type="text/javascript">
    (() => {
        var f = function () {
            Desktop.window.list['{{ window_id }}']._close();
        }
        window.setTimeout(f,3000);
    })();
</script>