<div  spellcheck="false" tabindex='0' style='width: 100%; height: 100%; box-sizing: border-box; top: 0px; overflow: auto; margin: 0px'  onfocus='Paradigm.console.capture()' onblur='Paradigm.console.release()' id='paradigmConsole' class='paradigmConsole'></div>
<script type='text/javascript'>
    Paradigm.console.output(Paradigm.console.heading,12,6);
</script>