<div class="flex h-full">
    <div class="m-auto w-96">
        This is your default Administration App, every module gets one.<br /><br />
        To understand how to use this to your advantage, please go to the following page:<br /><br />
        <center>
            <a href="https://humbleprogramming.com/pages/AdminApps.htmls" target="_BLANK">https://humbleprogramming.com/pages/AdminApps.htmls</a><br /><br />
        </center>
    </div>
</div>
