<table style="width: 100%; height: 100%">
    <tr>
        <td>
            <div style="width: 600px; margin-left: auto; margin-right: auto;">
                <form onsubmit="return false">
                    <fieldset style="padding: 20px"><legend>New Export Target></legend>
                        <input type="text" name="" id="" style="" /><br />
                        Target Site<br /><br/>
                        <input type="text" name="" id="" style="" /><br />
                        Alias<br/><br/>
                        <input type="text" name="" id="" style="" /><input type="button" name="" id="" value=" Generate " /><br />
                        Security Token<br /><br/>
                        <input type="button" name="" id="" value=" Save " />
                    </fieldset>
                </form>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
</script>