<div class="flex w-full h-full content-center">
    
    <div style="min-width: 450px;" class="w-9/12 m-auto p-4">
        <form name="simple_api_test_form" id="simple_api_test_form" onsubmit="return false">
            <div>
                <div>
                    <span class="text-bold text-lg">/api/</span><input type="text" name="api_uri" id="api_uri" class="rounded-sm text-lg bg-amber-50 w-80 border-2" />
                </div>
                <div class="text-base text-indigo-950 font-mono">
                    API URI [/api/<i>namespace</i>/<i>alias</i> [/<i>method</i> (optional)]
                </div>
            </div>
            <div class="mt-2">
                <div>
                    <textarea name="api_payload" id="api_payload" style="background-color: lightcyan" class="w-9/12 p-1 font-serif border-2 h-48 border-black ">
                    </textarea>
                </div>
                <div class="text-base text-indigo-950 font-mono">
                    JSON/Encoded Payload
                </div>
            </div>
            <div class="mt-2">
                <div>
                    <select name="encoding" id="encoding" class="w-1/2 p-1 rounded-sm text-lg bg-amber-50 w-full border-2">
                        <option value="json"> Application/JSON </option>
                        <option value="form"> Multipart/Form-Data </option>
                    </select>
                </div>
                <div class="text-base text-indigo-950 font-mono">
                    MIME Type
                </div>
            </div>            
            <div class="mt-2">
                <div>
                    <select name="api_method" id="api_method" class="w-1/2 p-1 rounded-sm text-lg bg-amber-50 w-full border-2">
                        <option value="get"> GET [ get one row /id ]</option>
                        <option value="post"> POST [ return many rows ] </option>
                        <option value="put"> PUT [ create with no id/update with id] </option>
                        <option value="delete"> DELETE [ delete by id ] </option>
                    </select>
                </div>
                <div class="text-base text-indigo-950 font-mono">
                    Request Method
                </div>
            </div>
            <div class="mt-4">
                <button id="api_test_submit" class="rounded-lg pl-4 pr-4 pt-2 pb-2 text-lg font-sans bg-blue-900 text-white">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    (()=>{
        (new EasyEdits('/edits/admin/testapi','test-api'))
    })();
</script>
