<?xml version="1.0"?>
<!--

Admin menu actions

For Controller reference, please see "Anatomy of a Controller" at https://www.humbleprogramming.com/pages/Controllers.htmls
-->
<controller name="menu" use="Twig" author="Rick Myers" email="rick@humbleprogramming.com">
    <actions blocking="ON" response="false">
        
        <action name="form" passalong="window_id">
            <description>Basic Form</description>
            <entity namespace="admin" class="menu/categories" orderby="seq=ASC" id="menu_categories" />
        </action>

        <!-- ############################################################### -->

    </actions>
</controller>