<?xml version="1.0"?>
<controller name="module" use="Twig">
    <actions blocking="off">

        <action name="create">
            <description>Will create a new module </description>
            <model namespace="admin" class="utility" id="module" method='createModule' response="true">
                <parameter name="uid"       source="session" default="" />
                <parameter name="package"   source="post"    default="" />
                <parameter name="module"    source="post"    default="" />
                <parameter name="namespace" source="post"    default="" />
                <parameter name="adminapp"  source="post"    default="N" />
            </model>
        </action>

        <!-- ############################################################################ -->

        <action name="documentation">
            <description>Will regenerate the API documentation</description>
                <model namespace="humble" class="utility" id="apigen" method="generateDocumentation" >
                    <parameter name="admin_id" source="session" required="default" />
                </model>
        </action>

        <!-- ############################################################### -->

        <action name="install">
            <description>Runs the install script on a config.xml file</description>
            <model namespace="admin" class="utility" id='utility'>
                <parameter name='package' source='post' default='' />
                <parameter name='xml' source='post' default='' />
            </model>
        </action>
        
        <!-- ############################################################### -->
        
        <action name="form" passalong="package,window_id">
            <description>The new module form</description>
        </action>
        
        <!-- ############################################################### -->
                                
        <action name="upload">
            <description>Will take an uploaded file (zip) and extract it into a Package directory</description> 
            <if sys="files" eq="TRUE">
                <then>
                    <helper response="true" namespace='admin' class='module' method='upload'>
                        <parameter name='module'  source='file' required='true' />
                        <parameter name='package' source='post' required='true' />
                    </helper>
                </then> 
                <else>
                    <output text="No file (zip) was uploaded, install of module aborted" />
                </else>
            </if>
        </action>
        
    </actions>
</controller>