<?xml version="1.0"?>
<config>
    <admin>
        <version>0.0.1</version>
        <title>Framework Administration</title>
        <description>Functionality for administering the Framework</description>
        <author>
            <name>Rick Myers</name>
            <email>rick@humbleprogramming.com</email>
        </author>
        <module>
            <name>Admin</name>
            <weight>50</weight>
            <required>Y</required>
            <workflow>Y</workflow>
            <package>Framework</package>
            <use>Twig</use>
        </module>
        <structure>
            <models>
                <source>Admin/Models</source>
            </models>
            <helpers>
                <source>Admin/Helpers</source>
            </helpers>
            <controllers>
                <source>Admin/Controllers</source>
                <cache>Admin/Controllers/Cache</cache>
            </controllers>
            <mobile>
                <controllers>
                    <source>Admin/Mobile/Controllers</source>
                    <cache>Admin/Mobile/Controllers/Cache</cache>
                </controllers>
                <views>
                    <source>Admin/Mobile/Views</source>
                    <cache>Admin/Mobile/Views/Cache</cache>
                </views>
            </mobile>
            <schema>
                <install>Admin/Schema/Install</install>
                <update>Admin/Schema/Update</update>
                <layout>Admin/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Admin/etc</source>
            </configuration>
            <views>
                <source>Admin/Views</source>
                <cache>Admin/Views/Cache</cache>
            </views>
            <images>
                <source>Admin/Images</source>
                <cache>Admin/Images/Cache</cache>
            </images>
            <entities>
                <source>Admin/Entities</source>
            </entities>
            <RPC>
                <source>Admin/RPC</source>
            </RPC>
            <frontend>
                <source>Admin/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>admin_</prefix>
            <mongodb>admin</mongodb>
            <entities>
                <system_monitor/>
                <menus/>
                <menu_categories/>
                <users/>
                <user_identification/>
            </entities>
        </orm>
        <events>

        </events>
        <web>
            <edits>
                <newmodule>Admin/web/edits/newmodule.json</newmodule>
                <newcontroller>Admin/web/edits/newcontroller.json</newcontroller>
                <newpackage>Admin/web/edits/newpackage.json</newpackage>
                <newcomponent>Admin/web/edits/newcomponent.json</newcomponent>
                <newsecret>Admin/web/edits/newsecret.json</newsecret>
                <smtpsettings>Admin/web/edits/smtpsettings.json</smtpsettings>
                <fetchsecret>Admin/web/edits/fetchsecret.json</fetchsecret>
                <apitester>Admin/web/edits/apitester.json</apitester>
                <importdata>Admin/web/edits/importdata.json</importdata>
                <installmodule>Admin/web/edits/installmodule.json</installmodule>
                <login>Admin/web/edits/adminlogin.json</login>
                <details>Admin/web/edits/userdetails.json</details>
            </edits>
            <admin>
                <css>
                    <source>Admin/web/css/admin.css</source>
                    <source>Admin/web/css/cssmenu.css</source>
                </css>
                <js>
                    <source weight="10">Admin/web/js/Heartbeat.js</source>
                    <source weight="10">Admin/web/js/Pagination.js</source>
                    <source weight="15">Admin/web/js/Chart.js</source>
                    <source weight="20">Admin/web/js/cssmenu.js</source>
                    <source weight="20">Admin/web/js/tailwindcss.js</source>
                </js>
            </admin>
        </web>
    </admin>
</config>
