<table style='width: 100%' cellspacing='1' cellpadding='0'>
<tr>
    <th>Date</th>
    <th>Event ID</th>
    <th>Event Name</th>
    <th>Actor</th>
</tr>
{{#each rows}}
    <tr>
        <td>    {{date}}            </td>
        <td>
            <a href="#" onclick="Humble.admin.events.expand('{{id}}','{{event}}'); return false">{{id}}</a>
        </td>
        <td>{{event}}</td>
        <td>{{last_name}}, {{first_name}}</td>
    </tr>
{{/each}}
</table>
