
<div class="pt-10">
    
    <div class="rounded-md pt-8 pb-8 pl-2 pr-2 bg-sky-800 hover:bg-sky-500 text-xl w-50 text-center m-auto text-white cursor-pointer" hx-get="/admin/system/cachehealth?cache=module" hx-params="*">

        Module Cache Status

    </div>
    <br />
    <div class="rounded-md pt-8 pb-8 pl-2 pr-2 bg-sky-800 hover:bg-sky-500 text-xl w-50 text-center m-auto text-white cursor-pointer">

        Controller Cache Status

    </div>
    <br />
    <div class="rounded-md pt-8 pb-8 pl-2 pr-2 bg-sky-800 hover:bg-sky-500 text-xl w-50 text-center m-auto text-white cursor-pointer">

        Entity Cache Status

    </div>
    <br />
    <div class="rounded-md pt-8 pb-8 pl-2 pr-2 bg-sky-800 hover:bg-sky-500 text-xl w-50 text-center m-auto text-white cursor-pointer">

        Metadata Cache Status

    </div>
    <br />
    <div class="rounded-md pt-8 pb-8 pl-2 pr-2 bg-sky-800 hover:bg-sky-500 text-xl w-50 text-center m-auto text-white cursor-pointer">

        ReCache All

    </div>

</div>
