<?xml version="1.0"?>
<config>
    <usps>
        <version>0.0.1</version>
        <title>USPS<!-- This will appear in the administration screens for this module --></title>
        <description>The USPS module<!-- This will appear in the admin page --></description>
        <author>
            <name>rmyers Rick</name>
            <email>rick@humbleprogramming.com</email>
        </author>
        <module>
            <name>USPS</name>
            <weight>50</weight>
            <required>N</required>
            <workflow>Y</workflow>
            <package>Integration</package>
            <use>Smarty</use>
        </module>
        <structure comment="This section describes the layout of your module, technically you can rearrange it anyway you want, but I would recommend just stick with the default structure below or you may encounter upgrading problems in the future">
            <models>
                <source>USPS/Models</source>
            </models>
            <helpers>
                <source>USPS/Helpers</source>
            </helpers>
            <controllers>
                <source>USPS/Controllers</source>
                <cache>USPS/Controllers/Cache</cache>
            </controllers>
            <mobile>
                <controllers>
                    <source>USPS/Mobile/Controllers</source>
                    <cache>USPS/Mobile/Controllers/Cache</cache>
                </controllers>
                <views>
                    <source>USPS/Mobile/Views</source>
                    <cache>USPS/Mobile/Views/Cache</cache>
                </views>
            </mobile>
            <schema>
                <install>USPS/Schema/Install</install>
                <update>USPS/Schema/Update</update>
                <layout>USPS/Schema/DSL</layout>
            </schema>
            <resources>
                <sql>USPS/Resources/sql</sql>
                <js>USPS/Resources/js</js>
                <templates>USPS/Resources/templates</templates>
            </resources>            
            <configuration>
                <source>USPS/etc</source>
            </configuration>
            <views>
                <source>USPS/Views</source>
                <cache>USPS/Views/Cache</cache>
            </views>
            <images>
                <source>USPS/Images</source>
                <cache>USPS/Images/Cache</cache>
            </images>
            <entities>
                <source>USPS/Entities</source>
            </entities>
            <RPC>
                <source>USPS/RPC</source>
            </RPC>
            <resources>
                <sql>USPS/sql</sql>
                <js>USPS/js</js>
            </resources>
            <frontend comment="will probably deprecate this...">
                <source>USPS/web/app</source>
            </frontend>
        </structure>
        <extend comment="Means whether to look up the Module hierarchy if a specific class is not found (if not found in current module, perhaps the class is in a parent module)">
            <helpers>1</helpers>
            <models>1</models>
            <entities>1</entities>
        </extend>     
        <orm>
            <prefix>usps_</prefix>
            <mongodb>usps</mongodb>
            <!--
                Register your tables to be managed under this namespace in the entities section below in the following format:

                <table_name polyglot="Y' />

                The 'polyglot' attribute is optional.  Only specify when you are actually enabling the polyglot behavior
            -->
            <entities>

            </entities>
        </orm>
        <events>

        </events>
        <web>
            <!-- Edits are used for separating form validation from the form -->
            <edits>
                <edit1>USPS/web/edits/edit.json</edit1>
            </edits>
            <hook>
                <!-- #################################################
                     This is where the JS lives for your module

                     Set the 'hook' name appropriately, and use as
                       many hooks as you'd like
                     #################################################    -->
                <js>
                    <source>USPS/web/js/USPS.js</source>
                </js>
                <css>
                    <source>USPS/web/css/USPS.css</source>
                </css>
            </hook>
        </web>
    </usps>
</config>
