<div id="entity_explorer_nav_{{ window_id }}">
</div>
<script type="text/javascript">
    (()=> {
        let tabs = new EasyTab('entity_explorer_nav_{{ window_id }}',100,false);
        let f = ((tabs) => {
            console.log(tabs);
            return (tab) => {
                //alert(tab.seq);
                let curTab = tabs.tabs[tabs.currentTab];
                console.log('curtab');
                console.log(tabs);
                if (!curTab.loaded) {
                    if (tabs.currentTab) {
                        curTab.loaded = true;
                    }
                    let ref = curTab.ref;
                    (new EasyAjax('/admin/entity/app')).add('tab_id',tabs.currentTab).add('window_id','{{ window_id }}').then((response) => {
                        $(ref).html(response);
                        ref.style.display = 'block';
                    }).get();
                }
            }
        })(tabs);
        let g = ((tabs) => {
            return (tab) => {
            //    alert('adding');
                tabs.add('Explorer '+tabs.tabs.length,f,false);
                tabs.scaleTo(1);
                tab.loaded = false;
                tabs.tabClick(tabs.tabs.length);
            }
        })(tabs);
        tabs.add('<b>+</b> ',g,false,35);          
        //tabs.tabClick(0);
    })();
</script>