<div id='game-play-area-4' style='width: 100%; height: 100%; overflow: hidden; background-color: #222'>
    <object width="100%" height="100%">
        <param name="movie" value="/pages/lib/galaga.swf?hl=en_US&amp;version=3"></param>
        <param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <param name="wmode" value="transparent" />        
        <embed wmode="transparent" style='background-color: black' src="/pages/lib/galaga.swf?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="100%" height="100%" allowscriptaccess="always" allowfullscreen="true"></embed>
    </object>
</div>

