{% set user = users.load(true) %}
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/css/common' />
        <style type='text/css'>
                body {
                    background-image: url(/web/images/blueglass.jpg); background-size: cover;
                }
                #center-column {
                    width: 550px; margin-left: auto; margin-right: auto;  background-color: rgba(0,102,204,.5)
                }
                #center-column-data {
                    padding: 20px 40px;
                }
                .enroll-field {
                    font-family: sans-serif; font-size: .8em; padding: 3px; border-radius: 4px; border: 1px solid #aaf;
                }
                .enroll-field-desc {
                    font-family: sans-serif; font-size: .6em; margin-bottom: 10px; color: white
                }
                .enroll-instructions {
                    font-family: sans-serif; font-size: .9em; color: white;
                }
                .enroll-title {
                    font-size: 1.8em; font-weight: bold; font-family: sans-serif; color: white;  padding-bottom: 15px
                }
                .flat-brick {
                    height: 20px; width: 20%; float: left;
                }
        </style>
        <script type='text/javascript' src='/js/humble-jquery' ></script>
        <script type='text/javascript' src='/js/common' ></script>
        <script type='text/javascript'>
            var Enroll = (function () {
                return {
                    width: 0,
                    height: 0,
                    init: function () {
                        new EasyEdits('/web/edits/enroll.json','enroll-form');
                        Enroll.resize();
                    },
                    resize: function () {
                        Enroll.width = window.innerWidth ||
                                    document.documentElement.clientWidth ||
                                    document.body.clientWidth;
                        Enroll.height = window.innerHeight ||
                                     document.documentElement.clientHeight ||
                                     document.body.clientHeight;
                        $E("enroll-area").style.height = Enroll.height + "px";
                        $E("enroll-area").style.width  = Enroll.width + "px";
                    }
                }
            })();
            window.onload   = Enroll.init;
            window.onresize = Enroll.resize;
        </script>
    </head>
    <body>
        <table id='enroll-area' cellspacing='0' cellpadding='0'>
            <tr style="height: 20px">
                <td>
                    <div class="flat-brick" style="background-color: #0A2327"></div>
                    <div class="flat-brick" style="background-color: #0F3F3F"></div>
                    <div class="flat-brick" style="background-color: #818D07"></div>
                    <div class="flat-brick" style="background-color: #D39423"></div>
                    <div class="flat-brick" style="background-color: #E74723"></div>
                    <div style="clear: both"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing='0' cellpadding='0' id='center-column'>
                        <tr>
                            <td id='center-column-data' valign='middle'>
                                <div class='enroll-title'>
                                    Humble Project Enrollment
                                </div>
                                <span class='enroll-instructions'>
                                    Please fill out the information below and click "enroll".  This will grant you access
                                    to the Humble-Project using the Login Id and password you set below.  Please fill in
                                    as much of the information as you can, with the amber background fields being required.
                                </span><br /><br />
                                <form name='enroll-form' id='enroll-form' onsubmit='return false' action='/humble/user/enroll' method='POST'>
                                    <input type='hidden' name='authentication_token' id='authentication_token' value='{{ user.authentication_token }}' />

                                    <input type="text" class="enroll-field" name='email' value="{{ user.email }}" id='email' readonly="readonly" /><br />
                                    <div class='enroll-field-desc'>E-Mail (if you need to change this, you need another invitation to enroll)</div>

                                    <input autocomplete='off' type="text" class="enroll-field" name='userid' id='userid' /><br />
                                    <div class='enroll-field-desc'>Login Id</div>

                                    <input autocomplete='off' type="password" class="enroll-field" name='password' id='password' /><br />
                                    <div class='enroll-field-desc'>Password</div>

                                    <input type="password" class="enroll-field" name='confirm' id='confirm' /><br />
                                    <div class='enroll-field-desc'>Confirm Password</div>

                                    <input type="text" class="enroll-field" name='firstname' id='firstname' /><br />
                                    <div class='enroll-field-desc'>First Name</div>

                                    <input type="text" class="enroll-field" name='lastname' id='lastname' /><br />
                                    <div class='enroll-field-desc'>Last Name</div>

                                    <input type="text" class="enroll-field" name='nickname' id='nickname' /> <input type="checkbox" name='usenick' id='usenick' value='Y' /><br />
                                    <div class='enroll-field-desc'>Nick Name (if desired)</div>

                                    <input type="text" class="enroll-field" name='addr1' id='addr1' /><br />
                                    <div class='enroll-field-desc'>Street Address 1</div>

                                    <input type="text" class="enroll-field" name='addr2' id='addr2' /><br />
                                    <div class='enroll-field-desc'>Street Address 2</div>

                                    <div style='float: left'>
                                        <input type="text" class="enroll-field" name='city' id='city' />
                                        <div class='enroll-field-desc'>City</div>
                                    </div>

                                    <div style='float: left'>
                                        <select class="enroll-field" name='state' id='state'>
                                            <option value="">PA</option>
                                        </select>
                                        <div class='enroll-field-desc'>State</div>
                                    </div>

                                    <div style='float: left'>
                                        <input type="text" class="enroll-field" name='zipcode' id='zipcode' />
                                        <div class='enroll-field-desc'>ZIP Code</div>
                                    </div>
                                    <div style='clear: both'></div>
                                    <input type='button' name='enroll-submit' id='enroll-submit' />
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 20px">
                <td>
                    <div class="flat-brick" style="background-color: #0A2327"></div>
                    <div class="flat-brick" style="background-color: #0F3F3F"></div>
                    <div class="flat-brick" style="background-color: #818D07"></div>
                    <div class="flat-brick" style="background-color: #D39423"></div>
                    <div class="flat-brick" style="background-color: #E74723"></div>
                    <div style="clear: both"></div>
                </td>
            </tr>
        </table>
    </body>
</html>
