<div id="users_and_roles_nav"></div>
<div id="users_and_roles_tab"></div>
<div id="user_roles_tab"></div>
<div id="new_user_tab"></div>
<script>
    (() => {
        let tabs = new EasyTab('users_and_roles_nav',120);
        let f = ((evt) => {
            return () => {
                Administration.users.search('');
            }
        })();
        tabs.add('Users &amp; Roles',f,'users_and_roles_tab');
        let g = (() => {
            return () => {
                (new EasyAjax('/admin/roles/list')).then((response) => {
                    $('#user_roles_tab').html(response);
                }).get();
            };
        })();
        tabs.add('Roles',g,'user_roles_tab');
        let h = (() => {
            return () => {
                (new EasyAjax('/admin/user/form')).then((response) => {
                    $('#new_user_tab').html(response);
                }).get();
            };
        })();
        tabs.add('New User',h,'new_user_tab');
        tabs.tabClick(0);
    })();
</script>
